/* Parent Container */
.content_img {
  position: relative;
  float: left;
}

/* Child Text Container */
.content_img div {
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.content_img:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 1;
}
